.cloud-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#word-cloud {
    flex-grow: 1
}

.cloud-container a {
    text-decoration: none;
}

.cloud-container a:hover {
    color: #3e77aa;
    text-decoration-line: underline;
}

.grow {
    transition: all .4s ease-in-out;
}

.grow:hover {
    transform: scale(1.2);
}
