.properties {
    padding: 0;
    margin-top: 20px;
    max-width: 400px;
    align-self: center;
    text-align: left;
}

.properties .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.properties .nav a {
    font-size: 1.3em;
    line-height: 0.5em;
    color: #3e77aa;
    text-decoration: none;
}

.properties .nav a:hover {
    text-decoration: underline;
}

.properties .subheader {
    margin: 5px;
    font-size: 1.1em;
}

.positive {
    color: green
}

.negative {
    color: red
}

.neutral {
    color: blue
}
